backup_prefix = .tmp.
suffixes = .cpp
out_list = map.files
meta_files = cscope.in.out cscope.out cscope.po.out tags
exclude_dirs = dir
exec_cmds = cscope -bqk -i $out_list && ctags -a -L $out_list
display_max = 20
delim     = ........................................
delim_end = ****************************************
